server {
    listen 80;
    server_name _;

    # Redirect all traffic to https
    return 301 https://${ESC}host${ESC}request_uri;

}

server {

    listen 443 ssl;
    server_name _;
    charset utf-8;

    ssl_certificate /run/secrets/site.crt;
    ssl_certificate_key /run/secrets/site.key;

    location /static {
        alias /data/web/staticfiles;
    }

    location /media {
        alias /data/web/media;
    }

    location / {
        proxy_pass http://web:8000/;
        proxy_redirect off;
        proxy_set_header Host ${ESC}host;
        proxy_set_header X-Real-IP ${ESC}remote_addr;
        proxy_set_header X-Forwarded-For ${ESC}proxy_add_x_forwarded_for;

        # This helps to prevent DoS attacks.
        # if (${ESC}http_user_agent = "") { return 403; }

        # Set max upload size
        client_max_body_size 10M;

        # Try to serve static files from nginx, no point in making an
        # *application* server like Unicorn/Rainbows! serve static files.
        # if (!-f ${ESC}request_filename) {
        #     proxy_pass http://nssdjango_app_server;
        #     break;
        # }

    }

}
