{% load i18n %}

{% for event in event_list %}
<p><strong>{{ event.nextOccurrenceTime|date:"l, F jS" }}</strong></p>

{{ event.shortDescription|linebreaks }}

<p>
    {{ event.location.address }}<br />
    {{ event.location.city }}, {{ event.location.state }} {{ event.location.zip }}
</p>

<dl class="list-unstyled">
    <dt>DJ:</dt>
    {% for dj in event.djs %}
        <dd>{{ dj.staffMember.fullName }}</dd>
    {% empty %}
        <dd>TBD</dd>
    {% endfor %}
</dl>

<p class="text-center">
    <a href="{{ event.url }}" class="btn btn-primary">{% trans "Learn More" %}</a>
</p>

{% empty %}
    <p>{% trans "Coming soon!" %}</p>
{% endfor %}
