{% load danceschool_tags cms_tags i18n %}

{% url 'registration' as registration_url %}
{% for event in event_list %}
<p><strong>{{ event.name }}</strong><br />
{% if event.teachers %}with {% for teacher in event.teachers %}{{ teacher.fullName }}{% if not forloop.last %} and {% endif %}{% endfor %}{% endif %}<br />
<em>{% for occurrence in event.eventoccurrence_set.all %}
    {{ occurrence.startTime|date:"N jS" }}{% if not forloop.last %}, {% endif %}
{% endfor %}</em>
</p>

<p class="text-center">
{% if registration_url and event.registrationOpen %}
    <a href="{{ registration_url }}#{{ event.slug }}-{{ event.id }}" class="btn btn-primary">{% trans "Register" %}</a>
{% else %}
    <a href="{{ event.url }}" class="btn btn-primary">{% trans "Learn More" %}</a>
{% endif %}
</p>
{% endfor %}
