{% extends "cms/site_base.html" %}
{% load static sekizai_tags cms_tags menu_tags %}

{% block title %}
  {% page_attribute "page_title" as page_title %}
  {% if page_title %}
    {{ page_title }} - New Columbia Swing: Lindy Hop and Swing Dance in Washington, DC
  {% else %}
    New Columbia Swing: Lindy Hop and Swing Dance in Washington, DC
  {% endif %}
{% endblock %}

{% block meta_description %}
  {% page_attribute "meta_description" as meta_description %}
  {{ meta_description|default:"New Columbia Swing offers Lindy Hop, Swing Dance, Balboa, and Charleston classes in Washington, DC and the surrounding areas, including Glen Echo Park in Maryland and activities in Northern Virginia.  If you are new to swing dancing or a seasoned dancer, our experienced teachers can help you improve and introduce you to our local swing dance community. We are proud to have some of the most talented Lindy Hop dancers and teachers in the DMV.  We focus on helping students improve through beginner, intermediate, and advanced classes, we offer weekly dances, and we run regular events." }}
{% endblock %}

{% block meta_keywords %}
  lindy hop, lindy, lindyhop, swing dancing,
  swing, swing dance, jitterbug, jive,
  east coast swing, balboa, blues,
  dance studio, collegiate shag,
  West Coast Swing, dance class, dance lesson,
  dance workshop, partner dancing,
  washington dc, dc, district of columbia, dmv,
  northern virginia, nova, maryland, md, glen echo,
  columbia heights, cohi, aerials, airsteps, private lessons
{% endblock %}

{% block meta_copyright %}Copyright {% now "Y" %}, New Columbia Swing LLC. All rights reserved.{% endblock %}

{% block facebook_og_title %}New Columbia Swing{% endblock %}
{% block facebook_og_description %}
New Columbia Swing offers Lindy Hop, Swing Dance, Balboa, and Charleston classes in Washington, DC and the surrounding areas, including Glen Echo Park in Maryland and activities in Northern Virginia.  If you are new to swing dancing or a seasoned dancer, our experienced teachers can help you improve and introduce you to our local swing dance community. We are proud to have some of the most talented Lindy Hop dancers and teachers in the DMV.  We focus on helping students improve through beginner, intermediate, and advanced classes, we offer weekly dances, and we run regular events.
{% endblock %}
{% block facebook_og_image %}{# TODO: ADD #}{% endblock %}

{% block extra_head %}

	{% addtoblock "meta" %}
		<meta name="robots" content="index, follow">
	{% endaddtoblock %}

	{% addtoblock "meta" %}
    	<meta name="google-site-verification" content="sK4GPKTaM3srIQuuo7ceN6krQJzx17c7F7_ICpVx4HE" />
	{% endaddtoblock %}

	{# Google Analytics Tracking Code #}
	{% addtoblock "js" %}
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-124831245-1"></script>
		<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-124831245-1');
		</script>
	{% endaddtoblock %}
  
	{# TODO HERE: Facebook Pixel Code #}

	{# Fitvids code (to ensure Youtube videos always fit) #}
	{% addtoblock "js" %}
	<script type="text/javascript" src="{% static 'fitvids/jquery.fitvids.js' %}"></script>
	{% endaddtoblock %}
	{% addtoblock "js" %}
	<script type="text/javascript">
	    $(".content-col").fitVids();
	</script>
	{% endaddtoblock %}

	{% addtoblock "css" %}
    <!-- Custom styles for this template -->
    <link href="{% static 'css/newcolumbiaswing.css' %}" rel="stylesheet">
	{% endaddtoblock %}
	
	{% addtoblock "css" %}
		<link href="https://fonts.googleapis.com/css?family=Rubik:400,500,700" rel="stylesheet">
	{% endaddtoblock %}

{% endblock %}

{% block body %}

{% block navbar %}
	{% show_menu 0 100 100 100 "cms/navbar.html" %}
{% endblock %}

{% block content_header %}{% endblock %}

	{% block main %}
	<div class="container" id="wrapper">
	{% block content %}
	  <div class="row">
	  <div class="col-md-12 content-col">
	  {% placeholder "content" %}
	  </div>
	  </div>
	{% endblock %}
	</div>
	{% endblock %}

</div>

{% block footer %}
<footer class="py-5 bg-dark">
  <div class="container">
		<div class="row">
			<div class="col-md-4">
					{% static_placeholder "footer" %}
			</div>
			<div class="col-md-4 footer-logo-centered">
				<img src="{% static 'images/logo-temp.png' %}">
			</div>
			<div class="col-md-4 footer-social-links">
				<a href="https://facebook.com/"><img src="{% static 'images/NCS_SocialFace_1.svg' %}" alt="Facebook" /></a>
				<a href="https://instagram.com/"><img src="{% static 'images/NCS_SocialInsta_1.svg' %}" alt="Instagram" /></a>
			</div>

		</div>
  </div>
  <!-- /.container -->
</footer>
{% endblock %}

{% endblock %}

