/*!
 * New Columbia Swing stylesheet
 */
$offset: 54px;
$navbar-break: 1200px;
$navbar-bigger: 768px;
$navbar-height-mobile: 65px;
$navbar-height: 85px;
$navbar-offset-mobile: 0;
$navbar-offset: 20px;
$font: 'Rubik', sans-serif;
$color-primary: #133f35;
$color-primary-translucent: rgba(19, 63, 53, 0.85);
$color-secondary: #459b84;
$color-midgray: #627d76;
$color-offwhite: #f7f7dd;
$color-white: #ffffff;
$color-black: #000000;

%cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

/* General styles */
body {
  padding-top: $offset;
  font-family: $font;

  @media (min-width: 992px) {
    padding-top: $offset + 2px;
  }
}

#wrapper {
  margin-top: 90px;
  margin-bottom: 3em;
}

section {
  padding-top: 2em;
  padding-bottom: 2em;
  text-align: center;
}

section h2 {
  text-align: center;
  letter-spacing: 3pt;
  text-transform: uppercase;
  color: $color-primary;
  font-weight: 500;
  margin-bottom: 1.5rem!important;
}

.bg-dark, .bg-primary {
  background-color: $color-primary!important;
  color: $color-offwhite;
}

.bg-secondary {
  background-color: $color-secondary!important;
  color: $color-offwhite;
}

.bg-white {
  background-color: $color-white!important;
  color: $color-black;
}

.border-dark, .border-primary {
  border-color: $color-primary!important;
}

.border-secondary {
  border-color: $color-secondary!important;
}

.text-primary {
  color: $color-primary!important;
}

.text-secondary {
  color: $color-secondary!important;
}

.text-callout {
  font-style: italic;
  font-weight: 500;
  font-size: 1.7rem;
}

/* Navigation */
.navbar-top {
  font-weight: 700;
  font-size: 1.1rem;
  text-transform: uppercase;
  height: $navbar-height-mobile;
  position: relative;
  z-index: 8;
  top: -1* $offset + $navbar-offset-mobile;

  @media (min-width: $navbar-bigger) {
    height: $navbar-height;
  }

  @media (min-width: $navbar-break) {
    top: $navbar-offset;
    background-color: $color-primary-translucent!important;
  }
}

.navbar-brand-centered {

  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 100px;
  height: $navbar-height-mobile;
  z-index: 10;
  text-align: center;
  padding: 0;

  img {
    max-height: $navbar-height-mobile - 3px;
  }

  @media (min-width: $navbar-bigger) {
    height: $navbar-height;

    img {
      max-height: $navbar-height - 3px;
    }
  }

  @media (min-width: $navbar-break) {
    left: 50%;
    width: 220px;
    height: 136px;
    margin-left: -110px;
    margin-top: -75px;
  
    img {
      max-width: 210px;
      max-height: unset;
    }
  }

}

.navbar-collapse {

  .navbar-nav li {
    margin: 0 1.5em;
  }
  
  @media (min-width: $navbar-break) {

    .navbar-left {
      position: absolute;
      right: calc(50% + 120px);
    }
    
    .navbar-right {
      position: absolute;
      left: calc(50% + 120px);
    }

  }

  @media (max-width: $navbar-bigger - 1px) {
      top: $navbar-height-mobile!important;
  }

  @media (max-width: $navbar-break - 1px) {
    z-index: 20;
    position:absolute;
      top: $navbar-height;
    left: 0;
    width: 100%;    

    .navbar-nav {
      background: $color-offwhite;

      .nav-link {
        color: $color-black;
        margin-left: 1rem;

        &:hover {
          color: $color-primary;
          font-weight: 700;    
        }
      }
    }

  }
}

/* Buttons */

.btn-primary, .btn-info {
  background-color: $color-secondary;
  color: $color-offwhite;
  border-color: $color-midgray;

  &:hover {
    background-color: $color-primary;
  }
}

.btn-success {
  background-color: $color-primary;
  color: $color-offwhite;
  border-color: $color-midgray;

  &:hover {
    background-color: $color-secondary;
  }
}

/* Front page splash */

.splash-header {
  @extend %cover;
  height: 75vh;
  min-height: 300px;
  color: $color-offwhite;
  top: -1 * $offset;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(rgba(0,0,0,0.85), transparent 75px);
  }

  @media (min-width: $navbar-break) {
    top: -1 * ($offset + 2px + $navbar-height);

    &:before {
      background-image: linear-gradient(black, rgba(0,0,0,0.5) 150px, transparent 200px);
    }
  }

  .bottom-column {
    position: absolute;
    bottom: 30px;
  }

  h1 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 4.5rem;
    line-height: 1.1;
  }
}

.splash-section {
  font-size: 1.2rem;
  font-weight: 700;
  margin-top: -1 * ($offset);

  @media (min-width: $navbar-break) {
    margin-top: -1 * ($offset + 2px + $navbar-height);
  }
}

/* Footer */

footer a {
  color: $color-offwhite;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    color: $color-secondary;
  }
}

.footer-logo-centered {
  text-align: center;

  img {
    max-width: 210px;
  }
}

.footer-social-links {

  text-align: center;

  .footer-svg {
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center center;
    display: inline-block;
  }

  .footer-svg-facebook {
    background-image: url('../images/NCS_SocialFace_1.svg');

    &:hover {
      background-image: url('../images/NCS_SocialFace_2.svg');
    }
  }

  .footer-svg-instagram {
    background-image: url('../images/NCS_SocialInsta_1.svg');

    &:hover {
      background-image: url('../images/NCS_SocialInsta_2.svg');
    }
  }

  .footer-svg-email {
    background-image: url('../images/NCS_SocialMail_1.svg');

    &:hover {
      background-image: url('../images/NCS_SocialMail_2.svg');
    }
  }
}

/* Front page cards */
.card-group-offerings {
  @media (max-width: 767px) {
    display: block!important;
  }

  .card {
    border: 0;
    border-radius: 0;
  }

  .card-header {
    background-color: transparent;
    border: 0;

    h1, h2, h3, h4, h5, h6 {
      text-transform: uppercase;
      color: $color-primary;
    }

  }

  .card:nth-child(1), .card:nth-child(2) {

    border-bottom: 1px solid $color-primary;

    @media (min-width: 768px) {
      border-right: 1px solid $color-primary;
      border-bottom: 0;
    }
  }

}

/* Card for Next Dance */
.nextdance {

  @extend %cover;
  background-image: url('../images/JBPC_LocationImage.jpg');
  background-repeat: no-repeat;
  background-position-y: 20%;

  h2 {
    color: $color-offwhite;
  }

  h3 {
    text-transform: uppercase;
    color: $color-white;
  }

  .card {
    font-weight: 500;
    border: 1px solid $color-offwhite;
    background-repeat: no-repeat;
    background-position: 10% center;
    background-size: 20% 70%;
    color: $color-offwhite;
    background-color: transparent;

    .card-body {
      text-align: left;
      margin-left: 37%;
      padding-left: 0;
    }

  }

  .card-nextdance-time {
    background-image: url('../images/NCS_Clock.svg');
  }

  .card-nextdance-location {
    background-image: url('../images/NCS_Pin.svg');
  }

}
